* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    display: flex;
    background-color: #d1973b;
}

.container {
    margin: auto;
}

.game-container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 10rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

h2 {
    font-weight: 500;
    margin-right: 0;
    font-size: 2rem;
    padding-bottom: 12px;
}

h2 span {
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid red;
    background-color: red;
}

.mole {
    background-image: url("../img/mole.png");
    background-size: cover;
    z-index: 5;
}


